<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Page</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <p>Here are your results:</p>
    <ul>
        {% for subject, score in result1.items() %}
            <li>{{ subject }}: {{ score }}</li>
        {% endfor %}
    </ul>
</body>
</html> -->
<!doctype html>
<html>
   <body>
       <table border = 1>
            {% for key, value in result1.items() %}
            <tr>
               <th> {{ name, key }} </th>
               <td> {{ value }} </td>
               {% if value>50 %}
               <td> Your result is pass!</td>
               {% else %}
               <td>Your result is fail</td>
               {% endif %}
            </tr>
         {% endfor %}
      </table>
   </body>
</html>
